services:
  app:
    image: eclipse-temurin:17-jdk
    container_name: backend_flower01
    working_dir: /app
    command: ["java", "-jar", "/app/backend-flower-shop-0.0.1.jar"]
    volumes:
      - ./target/backend-flower-shop-0.0.1.jar:/app/backend-flower-shop-0.0.1.jar
    ports:
      - "8080:8080"
    environment:
      DB_CONNECTION: jdbc:mysql://db:3306/flower_shop1
      DB_USERNAME: root
      DB_PASSWORD: root
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flower_shop1
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7.2
    container_name: redis-cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  redis_data:
